<p>
  Edit Person
</p>
<div *ngIf="personToEdit">
  <form #personEditForm="ngForm" (ngSubmit)="editPerson(personEditForm)">

    <label>name:
      <input name="name" [(ngModel)]="personToEdit.name" required />
    </label><br><br>
    <label>email:
      <input type="email" name="email" [(ngModel)]="personToEdit.email" required />
    </label><br><br>
    <label>gender:
      <select>
        <option value="{{personToEdit.gender}}">{{personToEdit.gender}}</option>
        <option *ngIf="personToEdit.gender == 'Male'" value="Female">Female</option>
        <option *ngIf="personToEdit.gender == 'Female'" value="Female">Male</option>
        <option *ngIf="!personToEdit.gender" value="Female">Female</option>
        <option *ngIf="!personToEdit.gender" value="Female">Male</option>
      </select>
    </label><br><br>
    <label>phone number:
      <input name="phoneNum" [(ngModel)]="personToEdit.phoneNum" />
    </label><br><br>

    <button type="submit" [disabled]="!personEditForm.valid">Edit</button>

  </form>
</div>
<button (click)="goBack()">go back</button>
